body {
	font-family: sans-serif;
}

.counter-value {
	font-size: 25px;
	text-align: right;
}

.counter-arrow-link {
	display: block;
	margin: 5px 0px;
}

a {
  text-decoration: none;
  margin: 0 5px;
  font-size: 20px;
  color: black;
}
